<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="com.itminfo.cordova.Discover"
version="0.2.13">

    <name>DiscoverPlugin</name>
    <description>LAN Services Discover Plugin</description>

    <engines>
            <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/DiscoverPlugin.js" name="Discover">
            <clobbers target="window.Discover" />
    </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Discover">
            <param name="android-package" value="com.itminfo.cordova.Discover"/>
        </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    </config-file>

    <source-file src="src/android/com/itminfo/cordova/Discover.java" target-dir="src/com/itminfo/cordova" />
  </platform>

</plugin>